[Unit]
Description=NotExpenseBot
After=network.target

[Service]
WorkingDirectory=/home/user/notexpensebot/
ExecStart=/home/user/notexpensebot/notexpensebot
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
